* {
    scroll-behavior: smooth;
}

:root {
    /* =====================
   VERSION CLAIRE
===================== */

    /* Couleurs principales */
    /* --primary-blue: #173366;      */
    /* Bleu profond, pour header, textes importants */
    --primary-blue: #223cb9; /* Bleu profond, pour header, textes importants */
    --primary-blue2: #9bb4e1; /* Bleu profond, pour header, textes importants */
    --secondary-white: #ffffff; /* Blanc pur, pour fonds et textes sur foncé */
    /* --highlight-gold: #E6C200;    */
    --highlight-gold: #090909;
    /* Or doux, pour boutons, accents, call-to-action */
    --background-light: #f5f5f5; /* Fond clair secondaire */
    --text-secondary: #4d4d4d; /* Texte secondaire / icônes */
    --text-dark: #000000; /* Texte noir principal */

    /* Couleur d’accent */
    --accent-cyan: #233275; /* Liens, boutons, hover */

    /* =====================
   VERSION SOMBRE
===================== */

    /* Couleurs principales sombre */
    --dark-background: #1e1e1e; /* Fond général sombre */
    --dark-blue: #003366; /* Bleu foncé pour header ou boutons */
    --dark-gold: #ffe600; /* Or doux, pour accents sur sombre */
    --dark-white: #ffffff; /* Texte blanc sur sombre */
    --dark-grey: #cccccc; /* Texte secondaire clair */
    --dark-grey2: #2a2a2a; /* Texte secondaire clair */
    --dark-black: #000000; /* Noir pur */
    /* --dark-accent: #00BFFF;       */
    /* Accent cyan sur sombre */
    --dark-accent: #c0dce65e; /* Accent cyan sur sombre */

    --success-green: #22c55e;
    --error-red: #ef4444;
    --flash: #4fa740;
    /* --white-color:#ffffff; */
    --dark-map2: #1e1e1e;
    --card-dark: #0a0a0a;
}
*,
::after,
::before,
body {
    font-family: 'Instrument Sans', NeueHaasGrotesk, Helvetica, Arial, sans-serif;
}

/* Scrollbar personnalisé - Walner Tech */
::-webkit-scrollbar {
    width: 5px; /* largeur de la barre */
    height: 20px;
}

/* Couleur de fond de la piste */
::-webkit-scrollbar-track {
    background: #0a1b9e; /* bleu foncé */
    height: 20px;
}

/* Curseur du scroll */
::-webkit-scrollbar-thumb {
    background: #ffe600; /* jaune vif */
    border-radius: 10px;
}

/* Au survol */
::-webkit-scrollbar-thumb:hover {
    background: #ffd000; /* jaune un peu plus chaud */
}
/* Scrollbar Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffe600 #0a1b9e;
}
.banner {
    background: #020024;
    background: -webkit-linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(26, 28, 150, 0.65) 23%,
        rgba(20, 67, 172, 1) 39%,
        rgba(14, 108, 195, 1) 56%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -moz-linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(26, 28, 150, 0.65) 23%,
        rgba(20, 67, 172, 1) 39%,
        rgba(14, 108, 195, 1) 56%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(26, 28, 150, 0.65) 23%,
        rgba(20, 67, 172, 1) 39%,
        rgba(14, 108, 195, 1) 56%,
        rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00D4FF", GradientType=1);
}

/* Variante mode sombre */
.banner.dark {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(10, 10, 60, 1) 25%,
        rgba(15, 15, 90, 1) 50%,
        rgba(20, 20, 120, 1) 75%,
        rgba(30, 30, 160, 1) 100%
    );
    color: #e0e7ff;
}
